
.primary-orange{
    color: #f71e1e;
}

.border-primary{
    border-width: 1px;
    border-color: #f71e1e;
}

.light-blue{
    background-color: rgb(0, 191, 255);
}

.img-left{
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    text-align: -o-left;
    text-align: -ms-left;
    text-align: -khtml-left;
}
.img-right{
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
    text-align: -ms-right;
    text-align: -khtml-right;
}
.img-center{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
    text-align: -ms-center;
    text-align: -khtml-center;
}
